# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
chinook.db
*.pyc
sqlite-dll-win64-x64-3310100
venv/
*.log
